body {
  margin: 0;
  background-color: black;
}

.header-bar {
  width: 100%;
  height: 65px;
  background-color: black;
  padding: 2px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.first-part {
  display: flex;
  width: 26%;
  height: 60px;
  background-color: black;
  padding: 0;
  float: left;
  align-items: center;
}

.second-part {
  display: flex;
  width: 44%;
  height: 60px;
  background-color: black;
  padding: 0;
  float: left;
  align-items: center;
  gap: 4px;
}

.third-part {
  display: flex;
  width: 32%;
  height: 60px;
  background-color: black;
  padding: 0;
  float: left;
  align-items: center;
  gap: 5px;
  margin-left: 21px;
}

.icon-1 {
  color: white;
  font-size: 32px;
  margin-left: 23px;
}

.home {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #1a1a1a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 84px;
  cursor: pointer;
}

.home:hover {
  transform: scale(1.1);
}

.icon-2 {
  color: white;
  font-size: 23px;
  float: left;
}

.search {
  align-items: center;
  display: flex;
  background-color: #1a1a1a;
  width: 470px;
  height: 50px;
  border-radius: 40px;
  gap: 10px;
  cursor: pointer;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid transparent;
}

.search:hover {
  border: 1px solid #999999;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

.icon-3 {
  color: #b3b3b3;
  font-size: 23px;
  margin-left: 10px;
}

.text-1 {
  color: #b3b3b3;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, sans-serif;
}

.search-input {
  width: 470px;
  height: 40px;
  background-color: #1a1a1a;
  border: none;
  border-radius: 55px;
  outline: none;
  color: white;
}

.explore-premium {
  height: 37px;
  width: 150px;
  align-items: center;
  display: flex;
  border-radius: 20px;
  color: black;
  justify-content: center;
  float: left;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.explore-premium:hover {
  transform: scale(1.1);
}

.fa-bell {
  color: #b3b3b3;
  margin-left: -64px;
  cursor: pointer;
}

.fa-bell:hover {
  transform: scale(1.1);
  color: white;
}

.img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 108px;
  border: 8px solid #222222;
  cursor: pointer;
}
.img:hover {
  transform: scale(1.1);
}

.admin {
  background-color: transparent;
  border: none;
}

main {
  padding: 10px;
  padding-top: 10px;
}

.first-section {
  display: block;
  width: 25%;
  height: 100vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 55px;
  justify-content: center;
  float: left;
}

.first-section-1 {
  display: block;
  width: 24%;
  height: 15vh;
  background-color: #121212;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  z-index: 10;
}

.text-head-left {
  margin-top: 21px;
  margin-left: 13px;
  font-size: 15px;
  color: white;
  font-family: "Inter", "Circular", sans-serif;
  font-weight: revert-layer;
  float: left;
}


.plus-icon {
  color: white;
  background-color: #333333;
  border-radius: 50%;
  float: left;
}

.plus {
  display: flex;
  align-items: center;
  background-color: #333333;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  margin-top: 10px;
  margin-left: 229px;
  cursor: pointer;
}
.plus:hover {
  transform: scale(1.1);
}

.expand-icon {
  color: white;
  display: flex;
  font-size: 18px;
}

.expand {
  display: flex;
  margin-left: 174px;
  float: left;
  margin-top: -40px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.expand:hover {
  background-color: #333333;
  transform: scale(1.1);
}
.second-section {
  display: block;
  width: 50%;
  height: 100vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 55px;
  justify-content: center;
  float: left;
}

.second-section-1 {
  display: block;
  width: 50%;
  height: 10vh;
  background-color: #7b1e3a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  z-index: 10;
  margin-left: -5px;
}

.second-section-2 {
  height: 100vh;
  padding-top: 69px;
  width: 720px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(to bottom, #7b1e3a, #000000);
  position: relative;
  margin-left: -5px;
  margin-top: 55px;
}
.second-section-2-group {
  margin-left: 12px;
  width: 95%;
  height: 30%;
  background-color: transparent;
  border-radius: -2px;
  padding: 5px;
  display: flex;
  gap: 0;
  float: left;
  flex-wrap: wrap;
  margin-top: -45px;
}

.small-div-center {
  width: 50%;
  margin-left: 6px;
  height: 53px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  position: relative;
  float: left;
  width: calc(50% - 10px);
  border-radius: 6px;
  cursor: pointer;
}
.small-div-center:hover {
  background: rgba(255, 255, 255, 0.3);
}

#allButton {
  margin-left: 24px;
  width: 46px;
  height: 30px;
  border-radius: 23px;
  color: white;
  margin-top: 21px;
  border: none;
  float: left;
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(10px); /* Frosted glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  cursor: pointer;
}
.buttonActive.active {
  background-color: white !important;
  color: black !important;
  border: none !important;
}

#music {
  margin-left: 5px;
  width: 60px;
  height: 30px;
  border-radius: 23px;
  color: white;
  margin-top: 21px;
  border: none;
  float: left;
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(10px); /* Frosted glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}
#podcast {
  margin-left: 8px;
  width: 79px;
  height: 30px;
  border-radius: 23px;
  color: white;
  margin-top: 21px;
  border: none;
  float: left;
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(10px); /* Frosted glass blur */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
}
.button-3 {
  gap: 1px;
  display: flex;
}
.third-section {
  display: block;
  width: 24%;
  height: 100vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 55px;
  justify-content: center;
  float: left;
}
.third-section-1 {
  margin-left: 10px;
  display: block;
  width: 24%;
  height: 10vh;
  background-color: #121212;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  z-index: 10;
}
.third-section-2 {
  margin-left: 10px;
  display: block;
  width: 345px;
  height: 100vh;
  background-color: red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 55px;
  position: relative;
}
.footer-bar {
  position: fixed;
  width: 100%;
  height: 77px;
  background-color: black;
  display: flex;
  margin-top: 713px;
  z-index: 10;
}
.first-foot {
  width: 30%;
  height: 77px;
  background-color: green;
  float: left;

  align-items: center;
  display: flex;
}
.second-foot {
  width: 40%;
  height: 77px;
  background-color: brown;
  float: left;
}
.third-foot {
  width: 30%;
  height: 77px;
  background-color: green;
  float: left;
}
.img-vedan {
  margin-left: 23px;
  width: 52px;
  height: 52px;
  border-radius: 5px;
}
.v-img {
  float: left;
  display: flex;
}
.V-TEXT {
  float: left;
  display: flex;
  margin-top: 4px;
  margin-left: 17px;
}
.song-name {
  font-size: 13px;
  color: white;
  font-family: "Inter", "Circular", sans-serif;
  cursor: pointer;
}

.song-name:hover {
  text-decoration: underline;
}

.author-name {
  font-family: "Inter", "Circular", sans-serif;
  color: #b3b3b3;
  font-size: 11px;
  cursor: pointer;
}
.author-name:hover {
  text-decoration: underline;
}

#playlist-buttons {
  margin-left: 8px;
  width: 67px;
  height: 30px;
  border-radius: 23px;
  color: white;
  margin-top: 21px;
  border: none;
  float: left;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.button-1 {
  gap: 1px;
  display: flex;
  margin-top: 4px;
}
.buttonActive-1.active {
  background-color: white !important;
  color: black !important;
  border: none !important;
}

.search-lens {
  display: flex;
  color: white;
  float: left;
}

.left-2-liked {
  position: relative;
  display: flex;
  align-items: center;
  width: 330px;
  background-color: transparent;
  height: 50px;
  margin-top: 112px;
  margin-left: 14px;
  border-radius: 12px;
}
.left-3-liked {
  position: relative;
  display: flex;
  align-items: center;
  width: 330px;
  background-color: transparent;
  height: 67px;
  margin-top: 6px;
  margin-left: 14px;
  border-radius: 12px;
  cursor: pointer;
}
.left-3-liked:hover {
  background-color: #232323;
}
.liked-img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  float: left;
  margin-left: 10px;
}
.liked-text {
  margin-left: 10px;
}
.L-song {
  color: white;
  font-family: "Inter", "Circular", sans-serif;
  font-size: 15px;
}
.P-song {
  color: #999999;
  font-family: "Inter", "Circular", sans-serif;
  font-size: 13px;
}

.search-icon {
  color: white;
  margin-left: 10px;
  font-size: 18px;
  position: relative;
}

.search-small {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 5px;
  font-family: auto;
  color: white;
  font-size: 17px;
}

.search-small::placeholder {
  color: transparent;
  font-size: 0.8rem;
}

.search-small:focus::placeholder {
  color: rgb(120, 120, 120);
}

.search-small:focus ~ .search-icon,
.container-search:has(.search-small:focus) {
  background-color: rgb(41, 41, 41);
}

.left-2-liked:has(.search-small:focus) .Recents {
  display: none;
}

.container-search {
  display: flex;
  align-items: center;
  width: 54%;
  height: 27px;
  background-color: #121212;
  border-radius: 5px;
  padding: 2px;
  margin-left: -9px;
}

.Recents {
  font-family: "Inter", "Circular", sans-serif;
  color: #999999;
  margin-left: 42px;
  position: relative;
  font-size: 0.9rem;
}

.round-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  float: left;
  margin-left: 10px;
}

.inner-img {
  height: 53px;
  display: flex;
  background-color: pink;
  width: 16%;
  border-radius: 7px;
}

#inner-image {
  border-radius: 7px;
}

.inner-p {
  white-space: nowrap;
  display: flex;
  margin-left: 13px;
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}

#button-play-pause {
  margin-top: 7px;
  color: #1db954;
  font-size: 36px;
  margin-left: 132px;
}
.pause-container {
  margin-top: 7px;
  position: relative;
  display: none;
}
.small-div-center:hover .pause-container {
  display: block;
}

.text-space-second-section-middle {
  width: 100%;
  height: 20px;
  position: relative;
  display: flex;
  margin-top: -580px;
  align-items: center;
}

.made-for {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #b3b3b3;
  margin-left: 16px;
}

.Name-space-second-section-middle {
  width: 100%;
  height: 20px;
  position: relative;
  align-items: center;
  margin-top: -22px;
}

.aaswne {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 15px;
  cursor: pointer;
}
.aaswne:hover {
  text-decoration: underline;
}

.cards-center-group {
  background-color: transparent;
  width: 93%;
  height: 235px;
  position: relative;
  margin-top: 19px;
  margin-left: 16px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; /* keep cards in one row */
  overflow-x: auto;
  overflow-y: hidden;
  gap: 7px;
  scrollbar-width: thin;
  scroll-behavior: smooth;

  /* Scroll snapping */
  scroll-snap-type: x mandatory;

  /* Smooth scroll on touch devices */
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
}

.cards-middle {
  flex: 0 0 auto;
  display: flex;
  height: 235px;
  width: 155px;
  background-color: transparent;
  border-radius: 13px;
  scroll-snap-align: start;
  padding: 5px;
  justify-content: center;
}

.cards-middle:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Scrollbar styling */
.cards-center-group::-webkit-scrollbar {
  height: 6px;
}

.cards-center-group::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.inner-image-container {
  margin-top: 10px;
  border-radius: 10px;
  width: 144px;
  height: 165px;
  background-color: red;
}

#card-image-center {
  width: 145px;
  height: 165px;
  border-radius: 10px;
}

.text-container{
  width: 144px;
  height: 50px;
  background-color: white;
  margin-top: 10px;
  position: relative;
}
.spacer{
  height: 60px;
}
